.list-2 {
  width: 45%;
  background-color: transparent;
  margin: 1%;
  padding: 0%;
}

@media screen and (min-width: 768px) {
  .list-2 {
    width: 10%;
  }
}
.image-1 {
  width: 100%;
  border-radius: 15px;
}
.button {
  background-color: transparent;
  border: 0px;
}
